// ==================================
// base(全体で共通のスタイル)
// ==================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat',sans-serif ;
  // color: #000;
  font-size: 1.4rem;
  // letter-spacing: 2px;
  width: 100%;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
#content-wrapper {
  padding: 100px 80px;
  width: 50%;
}

// .clearfix::after {
//   content: '';
//   display: block;
//   clear: both;
// }
// a ,a:visited{
//   text-decoration: none;
// }

// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================


// ==================================
// top(header)
// ==================================
.top {
  position: relative;
  padding: 100px 80px;

  &-image {
    margin-top: 50px;
    width: 800px;
  }
}
.title {
  
}
.header {

  &-1 {

  }
  &-2 {
    position: fixed;
    left: 65%;
  }
  &-logo {

  }
}
.nav {

  &-list {

  }
  &-item {

    a {

    }
  }
}
// ==================================
// about
// ==================================

// ==================================
// works
// ==================================


// ==================================
// contact
// ==================================


// ==================================
// footer
// ==================================

