// ==================================
// base(全体で共通のスタイル)
// ==================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat',sans-serif ;
  // color: #000;
  font-size: 1.4rem;
  // letter-spacing: 2px;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
#content-wrapper {

}

// .clearfix::after {
//   content: '';
//   display: block;
//   clear: both;
// }
// a ,a:visited{
//   text-decoration: none;
// }

// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================


// ==================================
// top(header)
// ==================================


// ==================================
// about
// ==================================


// ==================================
// works
// ==================================


// ==================================
// contact
// ==================================


// ==================================
// footer
// ==================================

