// ==================================
// config(初期設定や変数)
// ==================================
//560px ~ 960pxまで
@mixin tb($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//0 ~ 560pxまで
  @mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

// マップ型変数
$breakpoints: (
  'sm': 'screen and (max-width: 560px)',
  'md': 'screen and (max-width: 960px)',
) !default;

//メディアクエリーの読み込み方法
// 0 ~ 960pxのスタイル
// @include tb() {
//   display: block;
// }

// ==================================
// base(全体で共通のスタイル)
// ==================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat',sans-serif ;
  font-size: 1.4rem;
  // color: #000;
  letter-spacing: 2px;
  width: 100%;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
//top-image の背景画像
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
#content-wrapper {
  width: 100%;
  margin: 0 0 4rem;
  padding: 0 8rem;

  @include tb {
    padding: 0 6rem;
  }
  
  @include mq {
    padding: 0 4rem;
  }
}
.none {
  display: none;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
  }

.active {
  border-bottom: 1px solid red;
}
.reflesh {
  border: none;
}

.effect {
  transition: .7s;
  transition-delay: .8;
}
.effect2 {
  @extend .effect;
  transition-delay: .8;
}
.effect3 {
  @extend .effect;
  transition-delay: .8;
}
// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================
.heading {
  width: 100%;
  margin: 0 0 5rem;
}
h2 {
  position: relative;
  display: inline-block;
  font-size: 3rem;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  &::after {
   @extend ::before;
    bottom: -5px;
  }
}

// ==================================
// top(header)
// ==================================
.top {
  position: relative;
  height: 1000px;
  margin-bottom: 200px;
  @include tb() {
  margin-bottom: 80px;
  }
  @include mq() {
  margin-bottom: 0px;
  }
}
//top下半分画像(set.js)
#top-image {
    background: #333;
    background-size:  100%;
    width: 100%;
    height: 500px;
    margin-top: 50vh;
    position: fixed;
    //image-text gradation
    text-transform: uppercase;//大文字
    letter-spacing: 1.2rem;
    display: inline-block;;
}
#image-text {
  font-size: 6.0rem; 
  text-align: center;
  padding: 50px;
  line-height: 3.0;
  z-index: 1;
  //image-text gradation
  position: absolute;
  /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
  /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    @include tb() {
    font-size: 4.0rem; 
    }
    @include mq() {
    padding: 20px;
    font-size: 2.0rem; 
    line-height: 3.0;
    }
}
  /* Animate Background Image */
  @-webkit-keyframes aitf {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
  }

.header {
  &-1 {
    position: fixed;
    top: 5%;//基準がtop-imageの左上なので、-の値を指定
    > a {
      text-decoration: none;
      color: #000;
    }
  }
  &-2 {
    position: fixed; //top基準 99行目
    left: 65%;
    top: 15%;
    @include mq() {
      opacity: 0.75;
      top: 10%;
      left: 0; //position系 中央寄せのおまじない
      right: 0; //
      margin: 0; //
    }
    > a {
      display: block;
      text-align: center;
    }
  }
  &-logo {
    width: 230px;
    @include mq(){
      width: 200px;
    }
  }
}
.nav {

  &-list {
    margin-top: 10px;
    text-align: center;
    position: relative;//scroll-topの相対
  }
  &-item {
    display: inline-block;
    margin: 10px;
    @include tb() {
      display: block;
      margin: 30px;
    }
    @include mq() {
      // margin: 30px;
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 1.8rem;
      @include tb(){
      font-size: 1.6rem;
      }
      // border-bottom: 1px solid red;
    }
    a:hover {
      opacity: 0.5;
    }
  }
}
//scroll-button
.scroll-top {
  position: fixed;
  background: #3f98ef;
  border-radius: 50%;
  margin: 100px 0 0 100px; //refactor必要
  @include mq() {
    bottom: 50px;
    right: 6px;
    margin: 0; 
  }
  &:hover {
    opacity: 0.7;
  }
  &  a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  &::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
}
// sticky-header
.sticky {
   &-header {
      display: none;
      @include mq() {
        // display: block;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 100;
        transition: 0.25s;
        background-color: rgba(0,0,0,0.60);
      }
   }
    &-nav {
      text-align: center;
    }
    &-menu {
      padding-top: 10px;
    }
    &-item {
      display: inline-block;
      margin: 10px;
      
      & a {
        color: #fff;
      }
      & a:hover {
        opacity: 0.5;
      }
    }
}
// ==================================
// about
// ==================================
.about {
  width: 65%;
  margin: 0 0 10rem;
  @include mq {
    width: 100%;
  }

  .contents {
    width: 100%;
    .take {
      width: 46%;
      float: left;
      @include tb {
        width: 100%;
        margin: 0 0 5rem;
      }

      &_name {
        margin: 2rem 0 0;
        width: 50%;
        float: left;
        text-align: center;
        font-size: 2rem;
      }

      img {
        width: 50%;
        height: auto;
        float: right;
      }

      .intro {
        padding: 1rem 0.5rem 0;
        font-size: 1.5rem;
        display: inline-block;
        width: 100%;
      }
    }

    .kenn {
      width: 46%;
      float: right;
      @include tb {
        width: 100%;
      }

      &_name {
        margin: 2rem 0 0;
        width: 50%;
        float: left;
        text-align: center;
        font-size: 2rem;
      }

      img {
        width: 50%;
        height: autp;
        float: right;
      }

      .intro {
        padding: 1rem 0.5rem 0;
        font-size: 1.5rem;
      }
    }
  }
}

// ==================================
// works
// ==================================
.works {
  width: 65%;
  margin: 0 0 10rem;
  @include mq {
    width: 100%;
  }

  .container {
    width: 100%;

    .box-left {
      width: 48%;
      float: left;
      @include tb {
        width: 100%;
      }
    }

    .box-right {
      width: 48%;
      float: right;
      @include tb {
        width: 100%;
      }
    }

    .box {
      width: 100%;
      height: 38rem;
      margin: 0 0 5rem;

      p {
        height: 100%;
        text-align: center;

        a {
          display: block;
          height: auto;
          margin: 0 0 2rem;
          border: solid 1px black;
          opacity: 1;
          img {
            height: 30rem;
          }
          &:hover {
            opacity: 0.7;
          }
        }

        span {
          margin: 1rem 3rem 0 0;
          text-align: right;
          display: block;
        }
      }
    }
  }
}

// ==================================
// contact
// ==================================
.contact {
  width: 100%;
  text-align: center;

  &-box {

    &__inner {
      padding-right: 20px;
      height: 10vh;
    }
    &__left {
      display: inline-block;
      margin-right: 15px;
      @include mq(){
        display: block;
        margin-left: 15px;
        margin-right: 0;
      }
    }
    &__right {
      display: inline-block;
      @include mq(){
        display: block;
        margin-left: 15px;
      }
    }
  }
  &-text {
    display: block;
    line-height: 2;
    @include mq() {
      font-size: 1.0rem;
    }
  }
  &-myname {
     margin: 30px 0 5px; 
     font-size: 1.6rem;
  }
  &-email {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 2.0rem;
    @include mq() {
      font-size: 1.2rem;
    }
    &__kenn {
      display: inline-block;
    }
    &__take {
      display: inline-block;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &-content {

  }
}

// ==================================
// footer
// ==================================
.footer {
  background-color: #000;
  color: #fff;
  // padding: 20px 80px;
  padding: 20px 0;

  p {
    text-align: center;
    @include tb() {
      font-size: 1.0rem;
    }
  }
}